--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/
/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/



/* mua_acc section start */

.mua_acc_section {
    width: 100%;
    float: left;
    padding-bottom: 150px;
}

.mua_acc_taital {
    width: 100%;
    font-size: 40px;
    color: #30302e;
    text-align: center;
    font-weight: bold;
}

.mua_acc_section_2 {
    width: 100%;
    margin-top: 30px;
}

.box_main {
    width: 100%;
    background-color: #ffffff;
    height: auto;
    padding: 20px;
    box-shadow: 0px 0 30px 10px #f0f0f0;
    margin-bottom: 20px;
}

.shirt_text {
    width: 100%;
    font-size: 20px;
    color: #30302e;
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
}

.price_text {
    width: 100%;
    font-size: 16px;
    color: #f26522;
    text-align: center;
    margin: 0px;
}

.tshirt_img {
    width: 100%;
    text-align: center;
    margin: 50px 0px;
    min-height: 100px;
}

.see_all {

    text-align: center;
    font-weight: bold;
    border: 2px solid #06ebee;
    border-radius: 10px;
    padding: 5px 10px;
}

.see_all:hover {
    background-color: #2fc7f1;
    color: #fff;
}


.btn_main {
    width: 100%;
    display: flex;
}

.buy_bt {
    float: left;
    width: 100%;
}

.buy_bt a {
    width: 100%;
    font-size: 16px;
    color: #f26522;
    background-color: transparent;
    text-align: right;
    font-weight: bold;
}

.buy_bt a:hover {
    background-color: transparent;
    color: #262626;
}

.seemore_bt {
    width: 100%;
    float: right;
    text-align: right;
}

.seemore_bt a {
    width: 100%;
    font-size: 16px;
    color: #262626;
    background-color: transparent;
    text-align: right;
}

.seemore_bt a:hover {
    background-color: transparent;
    color: #f26522;
}

#main_slider a.carousel-control-next {
    right: 615px;
    top: 105%;
}

#main_slider a.carousel-control-prev {
    left: 615px;
    top: 105%;
}

#main_slider .carousel-control-next,
#main_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    background-color: #30302e;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
}

#main_slider .carousel-control-next:focus,
#main_slider .carousel-control-next:hover,
#main_slider .carousel-control-prev:focus,
#main_slider .carousel-control-prev:hover {
    color: #fff;
    background-color: #f26522;
}



/* mua_acc section end */

/*danh cho trang đăng nhập nếu có*/
/*star*/
.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.switch-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.switch-buttons button {
    width: 49%;
    padding: 10px;
    border: none;
    background-color: #ccc;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.switch-buttons button:hover,
.switch-buttons button.active {
    background-color: #3498db;
}

#register-form {
    display: none;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    padding: 10px;
    border: none;
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

form button:hover {
    background-color: #2980b9;
}

/*end login*/

/* electronic section start */

.electronic_img {
    width: 100%;
    text-align: center;
    margin: 50px 0px;
    min-height: 100px;
}

#electronic_main_slider a.carousel-control-next {
    right: 615px;
    top: 105%;
}

#electronic_main_slider a.carousel-control-prev {
    left: 615px;
    top: 105%;
}

#electronic_main_slider .carousel-control-next,
#electronic_main_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    background-color: #30302e;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
}

#electronic_main_slider .carousel-control-next:focus,
#electronic_main_slider .carousel-control-next:hover,
#electronic_main_slider .carousel-control-prev:focus,
#electronic_main_slider .carousel-control-prev:hover {
    color: #fff;
    background-color: #f26522;
}


/* electronic section end */


/* jewellery section start */

.jewellery_section {
    width: 100%;
    float: left;
    padding-bottom: 50px;
}

.jewellery_img {
    width: 100%;
    text-align: center;
    margin: 50px 0px;
    min-height: 293px;
}

#jewellery_main_slider a.carousel-control-next {
    right: 615px;
    top: 75%;
}

#jewellery_main_slider a.carousel-control-prev {
    left: 615px;
    top: 75%;
}

#jewellery_main_slider .carousel-control-next,
#jewellery_main_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    background-color: #30302e;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
}

#jewellery_main_slider .carousel-control-next:focus,
#jewellery_main_slider .carousel-control-next:hover,
#jewellery_main_slider .carousel-control-prev:focus,
#jewellery_main_slider .carousel-control-prev:hover {
    color: #fff;
    background-color: #f26522;
}


/* loader bar css start */

.loader_main {
    width: 100%;
    text-align: center;
    margin-top: 140px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #414744;
    border-right: 16px solid #f26522;
    border-bottom: 16px solid #414744;
    border-left: 16px solid #f26522;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 6s linear infinite;
    margin: 0 auto;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* loader bar css end */


/* jewellery section end */


/* footer section start */


/* footer section start */

.footer_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
}

.footer_logo {
    width: 100%;
    text-align: center;
}

.footer_menu {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.footer_menu a {
    display: flex;
    flex-direction: column;
    /* Sắp xếp theo hàng dọc */
    list-style-type: none;
    /* Xóa dấu đầu dòng của danh sách */
    padding: 0;
    /* Xóa padding của danh sách */
}

.footer_menu ul {
    display: flex;
    flex-direction: column;
    /* Sắp xếp theo hàng dọc */
    list-style-type: none;
    /* Xóa dấu đầu dòng của danh sách */
    padding: 0;
    /* Xóa padding của danh sách */
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.footer_menu li {
    float: left;
    font-size: 16px;
    color: #f1f1f1;
    padding: 20px 10px 0px 10px;
}

.footer_menu li a {
    color: #f1f1f1;
}

.footer_menu h4 {
    color: #320ae1;
    text-transform: uppercase;
    font-size: 30px;
    /* Thêm dòng này */
}

.footer_menu p {
    color: #f1f1f1;
}

.footer_menu a {
    color: #23cc10;
}

.footer_menu li a:hover {
    color: #f26522;
}

.location_main {
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
}

.location_main {
    float: left;
    font-size: 16px;
    color: #ffffff;
    padding: 30px 30px 30px 30px;
}

.location_main a {
    color: #ffffff;
}

.location_main a:hover {
    color: #f26522;
}
